<div class="faqs-container">

  <ol>
  <% @faqs.each do |faq| %>
    <a data-toggle="collapse" data-parent="#profile-name" href="#answer-<%= faq.id %>">
      <li class="question"><%= faq.question %> </li>
    </a> 
      <ul id="answer-<%= faq.id %>" class="collapse">
        <li class="answer"><%= faq.answer %>| <%= link_to "Delete", faq_path(faq.id), :method=>:delete, :class=>:destroy,:confirm=>"Are you sure?"%></li> 
      </ul>
  <% end %>
  </ol>
  <p><%= link_to add_btn(" Add question"), new_faq_path, :class => 'btn btn-small add-btn' %></p>

</div>