

<%= link_to "<i class='icon-backward'></i>".html_safe, :back, :class => 'btn back-btn' %>
<div id="profiles-container" class="container">


  <h2>Edit the <%= @profile.name %> profile</h2>


    <div id="profiles-form">

        <%= form_for @profile do |f| %>
        <table class="edit-profile-form">

          <tr>
            <%= f.label :title, "Persona's Title" %>
            <%= f.text_field :title %>
          </tr>

          <tr>
            <%= f.label :description %> 
            <%= render "shared/markdown_notice" %> 
            <%= f.text_area :description %>
          </tr>
          <tr>
            <%= f.label :img_url, "Image filename" %>
            <%= f.text_field :img_url %>
          </tr>

        </table>    
        </br>
        <div class='submit-btn'>
            <%= f.submit :class => 'btn'%>
        </div>
        <% end %>

    </div>
    
    <%= render "shared/markdown_guide" %>
    

</div> <!-- end profiles container -->