<h1>Welcome to the <%= @profile.name %> profile</h1>

<%= render 'description' %>

<%= render 'market_data' %>

<%= render 'platform_story' %>

<%= render 'case_study' %>

<h3><%= link_to 'Frequenly Asked Questions', '#' %></h3>

<h3><%= link_to 'Miscellaneous Resources', '#' %></h3>

<h3><%= link_to 'Units', units_path %></h3>
<%= render 'shared/table' %>