<h1>Welcome to the <%= @profile.name %> profile</h1>

<%= render 'description' %>

<%= render 'market_data' %>

<%= render 'platform_story' %>

<%= render 'faqs' %>

<%= render 'misc_resources' %>

<%= render 'shared/table' %>