<div id="main-page-container" class="container">


<h1 id="profile-title"> -- <%= @profile.name %> -- </h1>

<a data-toggle="collapse" data-parent="#profile-name" href="#profile-desc">
  <h2 class="main-section">Profile </h2> 
  
</a>
<div id="profile-desc" class="collapse in info-drop-down">
  <%= render @description %>
</div>  <!-- end profile description-->



<a data-toggle="collapse" data-parent="#profile-name" href="#market-data">
  <h2 class="main-section">Market Data</h2>
</a>
<div id="market-data" class="collapse in info-drop-down">
  <%= render @market_data %>
</div>  <!-- end market data-->


<a data-toggle="collapse" data-parent="#profile-name" href="#platform-story">
  <h2 class="main-section">Platform Story</h2>
</a>
<div id="platform-story" class="collapse info-drop-down">
  <%= render @platform_story %>
</div>  <!-- end platform story-->


<a data-toggle="collapse" data-parent="#profile-name" href="#case-study">
  <h2 class="main-section">Case Study</h2>
</a>
<div id="case-study" class="collapse info-drop-down">
  <%= render @case_study %>
</div>  <!-- end case study -->

<a data-toggle="collapse" data-parent="#profile-name" href="#faqs">
<h2 class="main-section">Frequently Asked Questions</h2>
</a>
<div id="faqs" class="collapse info-drop-down">
  <%= render "faqs" %>
</div>  <!-- end case study -->

<a data-toggle="collapse" data-parent="#profile-name" href="#misc-resources">
<h2 class="main-section">Miscellaneous Resources</h2>
</a>
<div id="misc-resources" class="collapse info-drop-down">
  <ul>
    <li><%= link_to 'Deck', "#" %> to send to customer</li>
  </ul>
</div>  <!-- end misc-resources -->

<a data-toggle="collapse" data-parent="#profile-name" href="#units-table">
<h2 class="main-section">Units</h2>
</a>
<div id="units-table" class="collapse in info-drop-down">
  <ul>
    <%= render 'shared/table' %>
  </ul>
</div>  <!-- end units-table -->  


</div><!-- end main page container -->  