
<div id="table-name"></div>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th class="hidden-phone">Image</th>
    <!-- <th>Delete</th> -->
  </tr>
  <% @units.each do |unit| %>
  <tr>
    <td><%= unit.name %><br />
      <a href="#unit-image-modal-<%= unit.name.downcase.tr(' ', '_') %>" data-toggle="modal"><%= image_tag unit.thumbnail_path, :class => 'unit-thumbnail visible-phone' %></a></td>
    <td><%= unit.description %></td>
    <td><%= unit.unit_type %></td>
    <td class=" hidden-phone"><a href="#unit-image-modal-<%= unit.name.downcase.tr(' ', '_') %>" data-toggle="modal"><%= image_tag unit.thumbnail_path, :class => 'unit-thumbnail' %></a></td>
    
    <!-- <td><%#= link_to 'Delete', unit_path(unit), :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>

  <div id="unit-image-modal-<%= unit.name.downcase.tr(' ', '_') %>" class="modal hide fade" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3><%= unit.name %> | <%= unit.unit_type %></h3>
    </div>
    <div class="modal-body">
          <p><%= unit.long_description %></p>
          <%= image_tag unit.image_path, :class => 'unit-image'%>
    </div><!-- modal body end -->
  </div>



  <% end %>
</table>

  
