
<%= link_to "<i class='icon-backward'></i>".html_safe, :back, :class => 'btn back-btn' %>
<div id="market-data-container" class="container">


  <h2>Edit the <%= @profile.name %> market data</h2>

  <div id="market-data-form">

      <%= form_for @market_datum, :url => profile_market_datum_path(@market_datum) do |f| %>
      <table class="new-market-data-form">

        <tr>
          <%= f.label :title %>
          <%= f.text_field :title %>
        </tr>
        <tr>
          <%= f.label :description %>
          <%= render 'shared/markdown_notice' %>
          <%= f.text_area :description %>
        </tr>

      </table>    
      </br>
      <div class='submit-btn'>
          <%= f.submit "Save market data", :class => 'btn'%>
      </div>
      <% end %>

  </div>

  <%= render "shared/markdown_guide" %>
</div>