<div id="unit-img">
  <%= image_tag "#{@unit.image_path}", :class => 'pull-left' %>
</div>

<table id="units-table" class="table table-hover">
  <tr>
    <th>Name</th><br/>
    <td><%= @unit.name %></td>
  </tr>
  <tr>
    <th>Type</th><br/>
    <td><%= @unit.unit_type %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @unit.long_description %></td>
  </tr>
  

</table>

<%= link_to 'New Unit', new_unit_path, :class => 'btn' %> <br />

<%= link_to 'Back', :back %>